!!! XHTML
%html
  %head
    %title= @title
    %script{:type => 'text/javascript', :src => "#{app_root}/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/main.js"}
    :javascript
      api = "#{app_root}";
  %body
    %h1= @title
    %div mp3のURLを書いて "play"
    %div
      %input{:id => 'url', :type => 'text', :name => 'url', :size => 60, :value => ''}
      %input{:id => 'play', :type => 'submit', :value => 'play'}
      %input{:id => 'stop', :type => 'submit', :value => 'stop'}
    %div
      %h2 API
      %h3 play
      %ul
        %li HTTP-POST #{app_root}/play
        %li post parameter "url"
      %h3 stop
      %ul
        %li HTTP-POST #{app_root}/stop
    %hr
      %a{:href => 'https://github.com/shokai/audio-play-server'} github.com/shokai/audio-play-server
