!!! XHTML
%html
  %head
    %title= @title
    %script{:type => 'text/javascript', :src => "#{app_root}/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/main.js"}
    :javascript
      api = "#{app_root}/play";
  %body
    %h1= @title
    %div
      %input{:id => 'url', :type => 'text', :name => 'url', :size => 60, :value => 'http://dev.shokai.org/tmp/masui_voice/egg.mp3'}
      %input{:id => 'play',:type => 'submit', :name => 'play', :value => 'play'}
    %div
      %h2 API
      %ul
        %li HTTP-POST #{app_root}/play
        %li post parameter "url"
    %hr
      %a{:href => 'https://github.com/shokai/audio-play-server'} github.com/shokai/audio-play-server
